<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python-Numpy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Here We Prepare 10 Lectures For The Prepartion Of Numpy.</h1>
    <h1>Lecture 1</h1>
    <hr>
   <p>The Array is (1-Dimensional): {{arr_1d}}</p>  <hr>
   <p>The Data Type Of {{arr_1d}} is : {{b}}</p> <hr>
   <p>The No of Dimesions used in array Of {{arr_1d}} is : {{c}}</p> <hr>
   <p>The size of {{arr_1d}} is {{d}}</p> <hr>
   <p>The 2-dimensional array is {{arr_2d}} and its Dimesion is : {{e}} and size is {{g}} and its data type is {{i}} and shape is {{k}}.</p> <hr>
   <p>The 3-dimensional array is {{arr_3d}} and its Dimension is :  {{f}} and size is {{h}} and its data type is {{j}} and shape is {{l}} .</p> <hr>
   
   <h1>Lecture 2</h1>
   <h3>In this part we will discuss just ones and zeroes matrix of any size.</h3>

   <p>The ones in numpy is : {{mx_1}} and with datatype int is  {{mx_11}} </p>
   <p>The ones in numpy od 2-D Arrays is : {{mx_2}} with data-type is : {{mx_22}} </p>
   <p>The zeros in numpy of 2-D is : {{mx_3}} with data-type is : {{mx_33}}</p>
   <p>The empty array using numpy is : {{mx_4}} </p>
   
   
</body>
</html>